label
{
  margin-bottom: 35px !important;
}
input[type="search"] {
	border-radius: 5px;

	}
.dataTables_info , .dataTables_paginate
{
   margin-top: 15px !important;
}
th{
	background-color: #454d60 !important;
}
.table-hover{
	background-color: #dcdfe1 !important;
}